.about {
  width: 100%;
  height: calc(100vh - 60px);
  top: 60px;
  scroll-snap-align: end;
  background-color: #052033;
  color: whitesmoke;
}

.title {
  text-align: center;
  font-size: 2em;
  padding-top: 0.5em;
}

.card {
  display: flex;
  margin: 1em 13% 0;
  padding: 3em 7em 2em;
  background-color: #063750;
  border-radius: 20px;
  -webkit-box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.2);
}

.left {
  text-align: center;
  margin-right: 4em;
}

.left img {
  width: 12em;
  border-radius: 20px;
  margin-bottom: 1em;
}

.right {
  line-height: 2em;
  padding-top: 2em;
  padding-left: 2em;
  font-size: 1.12em;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.5em;
    padding: 0.7em 0 1em 0;
  }

  .card {
    display: flex;
    flex-direction: column-reverse;
    margin: 0.5em 8% 0;
    align-items: center;
    padding: 3em;
    text-align: center;
  }

  .left {
    font-size: smaller;
    text-align: center;
    margin: 0;
  }

  .left img {
    width: 12em;
  }

  .right {
    margin: 0;
    padding: 0 2em;
    font-size: smaller;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    padding: 2em;
  }
}
