.myworks {
  width: 100%;
  height: calc(100vh - 60px);
  scroll-snap-align: end;
  background-color: #061826;
  color: whitesmoke;
  position: relative;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 2em;
  padding-top: 0.5em;
  margin-bottom: 1em;
}

.slide {
  overflow: hidden;
  height: 410px;
  display: flex;
  left: 0;
  position: absolute;
  transition: all 1s ease-out;
}

.container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  width: 850px;
  height: 100%;
  background-color: #152937;
  background-image: linear-gradient(237deg, #152937 0%, #082d43 100%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  flex: 4;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 13em 2em 0;
  line-height: 2em;
}

.right {
  flex: 8;
  height: 100%;
  background-color: #40407a;
  border-radius: inherit;
  align-items: center;
  justify-content: center;
}

.img {
  height: 20em;
  margin: 3em 0 0 3.3em;
}

.leftarrow {
  height: 1.5em;
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  margin-left: 5em;
  cursor: pointer;
}

.rightarrow {
  height: 1.5em;
  transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  right: 5em;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.5em;
    margin: 0.2em 0 1.5em 0;
  }

  .slide {
    font-size: smaller;
    align-items: center;
    justify-content: center;
  }

  .container {
    align-items: center;
    justify-content: center;
  }

  .item {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 50vw;
  }

  .left {
    padding: 0;
    flex: 0;
  }

  .left h2 {
    font-size: 1.1em;
    padding: 0.7em;
    margin-top: 0.5em;
  }

  .left p {
    font-size: 0.9em;
    padding: 0.3em 3em;
  }

  .right {
    flex: 0;
    border-radius: 0;
    width: 100%;
    height: 25em;
    margin: 0;
    border-radius: inherit;
  }

  .img {
    margin: 0;
    height: 20em;
    padding: 0;
  }

  .leftarrow {
    height: 1.2em;
    margin-left: 3em;
  }

  .rightarrow {
    height: 1.2em;
    right: 3em;
  }
}

@media only screen and (max-width: 480px) {
  .item {
    width: 300px;
  }

  .img {
    height: 12em;
  }

  .left p {
    margin-bottom: 0.8em;
  }

  .leftarrow {
    height: 1em;
    margin-left: 1.5em;
  }

  .rightarrow {
    height: 1em;
    right: 1.5em;
  }
}
